ul{
    list-style-type: none;
    display:flex;
    gap:20px;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left{
    flex: 1;
}
#right{
    flex: 1;
}
#right h3{
    font-style: oblique;
    font-size: 35px;
    color: goldenrod;
    text-decoration: underline;
}
#right p{
    font-size: 35px;
    font-style: italic;
}
button{
    background-color: yellowgreen;
    width: 295px;
    height: 65px;
}
a :hover{
    background-color: goldenrod;
    border-radius: 35px solid black;
}
#section1{
    flex: 1;
}
h4{
    font-size: 80px;
    font-style: italic;
    color: brown;
}